.loading{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border:4px solid rgb(196, 191, 191);
    border-left-color: orangered;
    animation: spin 1s linear infinite;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}